@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{

    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;

    


}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1207&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}




nav{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;

}

nav img{
    width: 50px;
}


.nav-links li{
    list-style: none;
    display: inline-block;
    position: relative;
  }
  
  
  
  .nav-links li a{
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  
  }

  .nav-links li a::after{
    content: "";
    background: #fff;
    height: 2px;
    position: absolute;
    width: 0%;
    left: 0;
    bottom: 0;
    /* margin-top:5px; */
  }

  .nav-links li a:hover::after{
    width: 100%;
    transition: 0.5s;

  }

  .fa-solid{
    display: none;
  }

  .text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    color: #fff;
  }

  .text-box h3{
    font-size: 4em;
  }

  .text-box p{
    font-size: 1em;
  }

  /* courses css */

  .courses{
    text-align: center;
    margin: 3% auto;
   width: 80%;
  }

  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .corse-col{
    width: 30%;
    padding: 10px;
    background-color: rgb(252, 246, 238);
    padding: 20px 12px;
    margin-bottom: 2%;
    border-radius: 10px;
    transition: 0.3s;
  }

  .corse-col:hover{
    box-shadow: 0 0 20px 0 rgb(186, 186, 186);
    transform: scale(1.1);
  }

  /* about section */

  .about-section{
    width: 100%;
  }
  
  .container{
    width: 80%;
    margin: auto;
  }

  .content-section{
    float: left;
    width: 50%;
    clear: both;

  }

  .image-section{
    float: right;
    width: 50%;
   
    
    
  }
  .image-section img{
    width: 100%;
    
  }

  .title{
    text-transform: uppercase;
    font-size: 48x;
  }

  .content-section .social a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-size: 20px;
    
  }


  /* .contactus */

  .contactus{
    width: 100%;
    clear: both;
    margin-top:30px;

  }

  .contactus .container-contact{
    width: 80%;
    margin: 10px auto;
    padding: 5%;
  }


  .contactus input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  label{
  padding-bottom: 10px;
  }

  input[type=submit]{
    background-color: #597cd4;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-color: #5b59d4;



  }









  @media only screen and (max-width:768px) {

    

    .nav-links li{
      display: block;
    }

    .nav-links{
      background-color: black;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100vh;
      z-index: 3;
      width: 200px;
    }

    .nav-links ul{
      padding-top:50px ;
      padding-right:20px ;

    }

    .fa-bars{
      
      color: #fff;
      display: block;
      z-index: 1
    }

    .fa-xmark{
      color: #fff;
      
      display: block;
      z-index: 999;
    }

    .text-box{
      
     
      color: #fff;
    }


    .text-box h3{
      font-size: 3em;
    }
  
    .text-box p{
      font-size: .7em;
    }

    
  .corse-col{
    width: 100%;}

    .content-section{
      float: none;
      width: 100%;
  
    }
  
    .image-section{
      float: none;
      width: 100%;
      
      
    }



    
  }